{% load static %}
{% load tz %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>


<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/news/">Лента Новостей</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">О сайте</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/about/">О нас</a></li>
                        <li><a class="dropdown-item" href="/contacts/">Контакты</a></li>
                        <li><a class="dropdown-item" href="/statistic/">Статистика</a></li>
                    </ul>
                </li>
                <div class="top-bar">
                    <section class="top-bar-section">
                        <ul class="right">
                            {% if request.user.is_authenticated %}
                                <li class="list-group-item"><a href="/accounts/logout" class="btn btn-primary">{{newsout.link}} ВЫЙТИ {{ user.username }} {{ user.email }} {{newsout.title}}</a></li>
                            {% else %}
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#auth">
                                        ВОЙТИ
                                    </a>
                                </li>
                            {% endif %}
                            <hr>
                        </ul>
                    </section>
                </div>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>


{% include 'sign/modal.html' %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="{% static 'main.js' %}"></script>
</body>
</html>
