{% extends 'flatpages/default.html' %}



{% block title %}
News
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                   <a class="nav-link" href="create/">CREATE</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="search/">SEARCH</a>
               </li>
           </ul>
       </div>
   </div>
</nav>



   <h1>Отображено новостей:<br>
       {{news|length}}</h1>

<!--   <form action="" method="get">-->
<!--       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
<!--       {{ filterset.form.as_p }}-->
<!--       {# Добавим кнопку отправки данных формы #}-->




   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Категория</td>
               <td>Заголовок</td>
               <td>Дата Публикации</td>
               <td>Описание</td>


           </tr>


           {% for news in news %}
           <tr>

               <td>{{ news.category.name }}</td>
               <td>{{ news.name }}</td>
               <td>{{ news.data_public|date:"d-m-Y" }}</td>
               <td>{{ news.description|truncatechars:20 }}</td>
               <td><nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                   <a class="nav-link" href="{{ news.get_absolute_url }}/edit/">Редактировать</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{{ news.get_absolute_url }}/delete/">Удалить</a>
               </li>
           </ul>
       </div>
   </div>
</nav></td>
           </tr>

           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}

           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}

           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}